/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>



&mt {
    tapping-term-ms = <201>;
    flavor = "tap-preferred";
 };
&sk {
     release-after-ms = <2000>;
     quick-release;
 };
 
/* Layers */
#define AL1     0
#define AL2     1
#define AL3     2
#define NUM     3
#define MOU1    4	
#define MOU2    5	
#define ASP     6
#define BT      7	
#define AL2CAPS 8
#define MKEYS   9
/ { 

    behaviors {
        hm_l: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_L";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        hm_r: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_R";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        hl_l: homerow_layers_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_LAYERS_L";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
        hl_r: homerow_layers_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_LAYERS_R";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
	alpha2macro: behavior_macro_1 {
		compatible = "zmk,behavior-macro";
		label = "MACRO1";
		#binding-cells = <0>;
		bindings = < &sl AL2 >;
	};
	alpha3macro: behavior_macro_2 {
		compatible = "zmk,behavior-macro";
		label = "MACRO2";
		#binding-cells = <0>;
		bindings = < &sl AL3 >;
	};
	caps_alpha2macro: behavior_macro_3 {
		compatible = "zmk,behavior-macro";
		label = "MACRO3";
		#binding-cells = <0>;
		bindings = < &sl AL2CAPS >;
	};
    };
// 				0		1		2					3		4			5
// 		6		7		8		9 					10		11			12 		13
//								14	15 	16 	17		
       keymap {
                compatible = "zmk,keymap";
                
    alpha1 {
		bindings = <
		 		            &kp R 	      &hl_l NUM S 	  &hm_l LSHIFT T		&hm_r RSHIFT N 	&hl_r NUM E   &kp I	  
		&hm_l LALT A	  &hm_l LCTRL L	&hm_l LGUI C	  &hl_l A2CAPS D 	 	&hl_r A2CAPS H  &hm_r RGUI U  &hm_r RCTRL M  &hm_r RALT O
			 	 		 		                  &hl_l MKEYS BKSP &alpha2macro      &alpha3macro	  &hl_r ASP SPC	 	
		>;
		};

    alpha2 {
		bindings = <
		 	 	                &kp LEFT_BRACKET 	&kp LEFT_BRACE	&kp LEFT_PARENTHESIS	&kp G    	&kp J			    &kp Y 		
		&kp DOUBLE_QUOTES	 	&kp GRAVE		      &kp MINUS		    &kp SINGLE_QUOTE 			&kp B 		&kp COMMA			&kp DOT		&kp Z 
			 	 		 		                          &trans	        &to MOU1              &none     &trans
		>;
		};

    alpha3 {
		bindings = <
		 	 	    &kp W 		&kp F		&kp P	 	 	&kp EQUAL    	          &kp BACKSLASH			  &kp SLASH 		
		&kp Q	 	&kp X 		&kp K		&kp V 		&kp RIGHT_PARENTHESIS 	&kp RIGHT_BRACE			&kp RIGHT_BRACKET		&kp SEMICOLON 
			 	 		 		      &trans	&to NUM   &sl BT                  &trans
		>;
		};
		
		num {
		bindings = <
				    &kp N2 	&kp N3	  &mt LSHIFT N4 		&mt RSHIFT N7 	&kp N8		   &kp N9	
		&kp N1	&none 	&none		  &kp N5		        &kp N6		      &kp COMMA	   &kp DOT   	&kp N0
							      &trans 		&none 		        &to AL1 	      &trans  	 
		>;
		};

		mouse1 {
		bindings = <
				 	&mkp  MB3		&mkp MB2 	  &mkp MB1		&mmv MOVE_LEFT 	  &mmv MOVE_UP 		&mmv MOVE_RIGHT 			
		&none	&none		    &none 	    &none		    &kp LS(LC(TAB))  	&mmv MOVE_DOWN 	&kp LC(TAB) 	     &none 
		 			 		 				&trans 		  &mo MOU2    &to AL1           &trans		
		>;
		};

		mouse2 {
		bindings = <
				 	          &kp  LG(A)	&kp LG(V) 	&kp LG(C)		&mwh SCROLL_LEFT 	&mwh SCROLL_UP 		&mwh SCROLL_RIGHT 			
		&kp LG(LS(N4))	&none		    &none 	    &none		    &none  		        &mwh SCROLL_DOWN 	&none 	            &none 
		 			 		 				          &none 		  &none       &none             &none	
		>;
		};

		alphaspecials {
		bindings = <
				 	      &kp  LG(A)	&kp LG(V) 	&kp LG(C)		    &kp LC(LEFT) 	&none 		&kp LC(RIGHT) 			
		&kp LG(Z)	  &none		    &none 	    &kp LSHIFT		  &none  		    &none 	  &none 	          &none 
		 			 		 				      &none 		  &key_repeat     &none         &none		
		>;
		};

		bt {
		bindings = <
				            &bt BT_PRV	&bt BT_NXT	&none 			&none 	&none	  &none	
		&bootloader  	  &none 		  &none 		  &none 			&none 	&none 	&none	  &bt BT_CLR
		 	 	 				    &none	      &none       &to AL1	    &none
		>;
		};

    alpha2cap {
		bindings = <
		 	 	        &kp LS(W)	  &kp LS(F)	  &kp LS(P) 	&kp LS(G)   &kp LS(J)		  &kp LS(Y)	
		&kp LS(Q) 	&kp LS(X) 	&kp LS(C)	  &kp LS(V)		&kp LS(B)	  &kp LS(COMMA)	&kp LS(DOT)	&kp LS(Z) 
			 	                    &none 		  &none 			&none	      &none
		>;
		};
        
		mainkeys {
		bindings = <
				 	      &kp LCTRL		&kp LGUI 	&kp LSHIFT		&kp LEFT 	      &kp UP 		  &kp RIGHT 			
		&kp LALT	  &none		    &none 	  &none		      &kp LA(LEFT)    &kp DOWN  	&kp LA(RIGHT) 	&none 
		 			 		 				      &none 		&none         &kp ENTER       &kp TAB		
		>;
		};
	};
};
